<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메모</title>
</head>
<script>
<!--
    1) history.pushState(state, title, url);
        : 새로운 세션 기록항목 생성&활성화, 페이지를 reload하지않고 url만 변경
        -state : 새로운 세션 기록 항목에 연결할 상태객체/ 넘겨줄 데이터
            var state = { 'page_id': 1, 'user_id': 5 };
        -title : 변경할 브라우저 제목 (변경을 원하지 않으면 null)
        -url : 변경할 브라우저 URL

    2) JQuery
    $("선택자").hasClass("클래스이름") => 선택한 요소에 클래스가 있는지 확인(Boolean)


-->
</script>
<body>
<!--
equals : 두 객체의 '내용' 같은지, 동등성(equality)
hashCode : 두 객체가 같은 '객체'인지, 동일성(identity)

@EqualsAndHashCode(callSuper=true)
 - callSuper : 부모클래스 필드까지 감안할지 여부 확인


getinstance() 와 new 연산자 : 인스턴스 생성
- getinstance() : 주소값 같음 / new 연산자 : 주소값 다름

JAVA
getClass() : Object클래스 안에 정의, 리턴값은 클래스
getName() : Class클래스 안에 정의, 리턴값은 클래스명
trim() : 좌우 공백제거 -> $.trim(변경값);
this.replace(/^s+, ""); -> 특수문자 사용불가 설정
sort() : 배열안의 원소 정렬함수, 오름차순 정렬


Oracle
NVL(컬럼명, null일때 출력값) : 컬럼 값이 null인 경우 특정값 출력
NVL2(컬럼명, null아닐때 출력값) : 컬럼값이 null이 아닐경우 특정값 출력

-->
</body>
</html>